header
  .container
    .header
      .header__logo
        img(src='images/header/logos.svg', alt='logo', class='header-logo')
        .logo__text Waxom
      nav(class='header-nav')
        ul
          li
            a(href="") Home
          li
            a(href="") About Us
          li
            a(href="") Portfolio
          li
            a(href="") Features
          li
            a(href="") Blog
          li
            a(href="") Pricing
          li
            a(href="") Shortcodes
          li
            a(href="") Contact
      .header__search
        .search__img
          a(href='#')
            img(src='images/header/icon-cart.svg', alt='logo')
        .search__img
          a(href='#')
            img(src='images/header/icon-search.svg', alt='logo')

    //- (onclick="myFunction")
    .header-mobil
      .nav_modil
        .bar1
        .bar2
        .bar3
      nav(class='header-nav_modil')
        ul
          li
            a(href="") Home
          li
            a(href="") About Us
          li
            a(href="") Portfolio
          li
            a(href="") Features
          li
            a(href="") Blog
          li
            a(href="") Pricing
          li
            a(href="") Shortcodes
          li
            a(href="") Contact 
      .header__logo_modil
        img(src='images/header/logos.svg', alt='logo', class='header-logo')
      .search__img_modil
        a(href='#')
          img(src='images/header/icon-search.svg', alt='logo')
      
        
        
        
        
        
        
