.posts
  .container
    .posts__head
      .head__text Recent Posts.
      .head__descr Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .posts__slider
      .list
        //- 1
        .list__recent
          .recent__img.slider-two
            .slider-two__img
              img(src='images/posts/photo.png' alt='12')
            .slider-two__img 
              img(src='images/posts/photo1-1.jpg' alt='12')
            .slider-two__img
              img(src='images/posts/photo1-33.jpg' alt='12')
            .slider-two__img
              img(src='images/posts/photo1-4.jpg' alt='12')
            .slider-two__img
              img(src='images/posts/photo1-5.jpg' alt='12')
          .recent__data
            .date__number 30
            .date__month Ser.
          .recent__text
            .recent__title Lorem ipsum dolor sit amet
            .recent__small Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="#") Read More 
              i(class="icon-right")

        //- 2
        .list__recent
          .recent__img.slider-two
            .slider-two__img(style="background:url()  center center no-repeat")
              img(src="images/posts/photo2.png", alt="12")
          .recent__data
            .date__number 30
            .date__month Ser.
          .recent__text
            .recent__title Lorem ipsum dolor sit amet
            .recent__small Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="#") Read More 
              i(class="icon-right")

        //- 3
        .list__recent
          .recent__img.slider-two
            .slider-two__img
              img(src='images/posts/photo1-1.jpg' alt='12')
          .recent__data
            .date__number 30
            .date__month Ser.
          .recent__text
            .recent__title Lorem ipsum dolor sit amet
            .recent__small Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="#") Read More 
              i(class="icon-right")

        //- 4
        .list__recent
          .recent__img.slider-two
            .slider-two__img
              img(src='images/posts/photo1-33.jpg' alt='12')
          .recent__data
            .date__number 30
            .date__month Ser.
          .recent__text
            .recent__title Lorem ipsum dolor sit amet
            .recent__small Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="#") Read More 
              i(class="icon-right")

















