.ideas
  .container
    .ideas__cont
      .ideas__head  Waxom is Realization of your Ideas.
      .ideas__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .ideas__img
      img(src='images/ideas/3-layers.png', alt='1')
    

.ideas__line
  .container
    .line__head
      .head__title 
        span Waxom
        |Multipurpose WordPress Theme
      .head__descr Don't Forget to Rate the Template. Thanks so much!
    .line__button
      botton(class='text__begin botton_btn') Purchase Now