.partners
  .container
    .row.partners__logo.col-12
      .logo__img.col-12.col-m-6.col-l-3
        img(src="images/partners/logo-01.png" alt="")
      .logo__img.col-12.col-m-6.col-l-3
        img(src="images/partners/logo-02.png" alt="")
      .logo__img.col-12.col-m-6.col-l-3
        img(src="images/partners/logo-03.png" alt="")
      .logo__img.col-12.col-m-6.col-l-3
        img(src="images/partners/logo-04.png" alt="")