.projects
  .container
    .projects__waxom
      .waxom-title Our Latest Projects.
      .waxom-descr Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
      .projects-buttons
        button(class="projects__btn") All
        button(class="projects__btn") Web Design
        button(class="projects__btn") Mobile App
        button(class="projects__btn") Illustration
        button(class="projects__btn") Photography
    .projects__cont
      .row.flex.justify-center
        .blocks-project.flex.justify-around
          //- 1
          .block-projects.col-12.col-m-6.col-l-4
            .block-projects__img
              figure
                .block-projects__hover.dn
                  a(href='#')
                    .block-projects__hover__link
                  a(href='#')
                    .block-projects__hover__lupa
                img(src='images/projects/photo1.jpg', alt='1')
            .block-projects__text
              .block-projects__title Claritas Etiam Processus
              .block-projects__small Photography, Nature
          //- 2
          .block-projects.col-12.col-m-6.col-l-4
            .block-projects__img
              figure
                .block-projects__hover.dn
                  a(href='#')
                    .block-projects__hover__link
                  a(href='#')
                    .block-projects__hover__lupa
                img(src='images/projects/photo2.jpg', alt='2') 
            .block-projects__text
              .block-projects__title Quam Nutamus Farum
              .block-projects__small Graphic Design, Mock-Up
          //- 3
          .block-projects.col-12.col-m-6.col-l-4
            .block-projects__img
              figure
                .block-projects__hover.dn
                  a(href='#')
                    .block-projects__hover__link
                  a(href='#')
                    .block-projects__hover__lupa
                img(src='images/projects/photo3.jpg', alt='3') 
            .block-projects__text
              .block-projects__title Usus Legentis Videntur
              .block-projects__small Photography, Holiday
          //- 4
          .block-projects.col-12.col-m-6.col-l-4
            .block-projects__img
              figure
                .block-projects__hover.dn
                  a(href='#')
                    .block-projects__hover__link
                  a(href='#')
                    .block-projects__hover__lupa
                img(src='images/projects/photo4.jpg', alt='4')
            .block-projects__text
              .block-projects__title Claritas Etiam Processus
              .block-projects__small Photography, Nature
          //- 5
          .block-projects.col-12.col-m-6.col-l-4
            .block-projects__img
              figure
                .block-projects__hover.dn
                  a(href='#')
                    .block-projects__hover__link
                  a(href='#')
                    .block-projects__hover__lupa
                img(src='images/projects/photo5.jpg', alt='5')
            .block-projects__text
              .block-projects__title Quam Nutamus Farum
              .block-projects__small Graphic Design, Mock-Up
          //- 6
          .block-projects.col-12.col-m-6.col-l-4
            .block-projects__img
              figure
                .block-projects__hover.dn
                  a(href='#')
                    .block-projects__hover__link
                  a(href='#')
                    .block-projects__hover__lupa
                img(src='images/projects/photo6.jpg', alt='6')
            .block-projects__text
              .block-projects__title Usus Legentis Videntur
              .block-projects__small Photography, Holiday
            
        #delit.dn
          .blocks-project.flex.justify-around
            //- 1
            .block-projects.col-12.col-m-6.col-l-4
              .block-projects__img
                figure
                  .block-projects__hover.dn
                    a(href='#')
                      .block-projects__hover__link
                    a(href='#')
                      .block-projects__hover__lupa
                  img(src='images/projects/photo1.jpg', alt='1')
              .block-projects__text
                .block-projects__title Claritas Etiam Processus
                .block-projects__small Photography, Nature
            //- 2
            .block-projects.col-12.col-m-6.col-l-4
              .block-projects__img
                figure
                  .block-projects__hover.dn
                    a(href='#')
                      .block-projects__hover__link
                    a(href='#')
                      .block-projects__hover__lupa
                  img(src='images/projects/photo2.jpg', alt='2') 
              .block-projects__text
                .block-projects__title Quam Nutamus Farum
                .block-projects__small Graphic Design, Mock-Up
            //- 3
            .block-projects.col-12.col-m-6.col-l-4
              .block-projects__img
                figure
                  .block-projects__hover.dn
                    a(href='#')
                      .block-projects__hover__link
                    a(href='#')
                      .block-projects__hover__lupa
                  img(src='images/projects/photo3.jpg', alt='3') 
              .block-projects__text
                .block-projects__title Usus Legentis Videntur
                .block-projects__small Photography, Holiday
            //- 4
            .block-projects.col-12.col-m-6.col-l-4
              .block-projects__img
                figure
                  .block-projects__hover.dn
                    a(href='#')
                      .block-projects__hover__link
                    a(href='#')
                      .block-projects__hover__lupa
                  img(src='images/projects/photo4.jpg', alt='4')
              .block-projects__text
                .block-projects__title Claritas Etiam Processus
                .block-projects__small Photography, Nature
            //- 5
            .block-projects.col-12.col-m-6.col-l-4
              .block-projects__img
                figure
                  .block-projects__hover.dn
                    a(href='#')
                      .block-projects__hover__link
                    a(href='#')
                      .block-projects__hover__lupa
                  img(src='images/projects/photo5.jpg', alt='5')
              .block-projects__text
                .block-projects__title Quam Nutamus Farum
                .block-projects__small Graphic Design, Mock-Up
            //- 6
            .block-projects.col-12.col-m-6.col-l-4
              .block-projects__img
                figure
                  .block-projects__hover.dn
                    a(href='#')
                      .block-projects__hover__link
                    a(href='#')
                      .block-projects__hover__lupa
                  img(src='images/projects/photo6.jpg', alt='6')
              .block-projects__text
                .block-projects__title Usus Legentis Videntur
                .block-projects__small Photography, Holiday
                
    .projects__botton
      button#up.projects__botton-dtn.botton_btn Load More
    //- button(class="projects__btn") Photography
