extends /layout/app

block content
  include head-slider/head-slider
  include working/working
  include ideas/ideas
  include projects/projects
  include video/video
  include phones/phones
  include counters/counters
  include posts/posts
  include partners/partners
  include waxom-foot/waxom-foot

  
