.rock

  .rack__slider
    img(src='images/header/photo1.jpg', alt='1')
    img(src='images/header/photo2.jpg', alt='1')
    img(src='images/header/photo3.jpg', alt='1')
    img(src='images/header/photo4.jpg', alt='1')
    img(src='images/header/photo5.jpg', alt='1')

  .container 

    
    .rock__text
      .container
        span(class='lines')
          include ../../../layout/header/header
        .text__head-text Unique and Modern Design
        .text__head Portfolio PSD Template
        .text__text Nam liber tempor cum soluta nobis eleifend option congue nihil imper- diet doming id quod mazim placerat facer possim assum.
        botton(class='text__begin botton_btn') Get Started
