.counters
  .container
    .row
      .counters-block.col-10.offset-1
        .counters_blocks
          i(class="icon-icon5")
          .blocks__head 3587
          .blocks__text Satisfied Clients
          .lines
        .counters_blocks
          i(class="icon-coffe")
          .blocks__head 207
          .blocks__text Cups of coffee
          .lines
        .counters_blocks
          i(class="icon-messed")
          .blocks__head 2500
          .blocks__text Blog posts
          .lines
        .counters_blocks
          i(class="icon-haert")
          .blocks__head 873
          .blocks__text Likes
          .lines
        .counters_blocks
          i(class= "icon-icon6")
          .blocks__head 900
          .blocks__text We launched
          .lines
