.phone
  .container
    .row
      .db-m.col-m-5
        img(src='images/phones/iPhone.png', alt='1')
      .phone__text.col-12.col-m-7
        .text__head Excellent for Mobile Devices.
        .text__descr Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
        ul
          li
            span
            |Nam liber tempor cum soluta nobis eleifend option;
          li
            span
            |Option congue nihil imperdiet doming id quod mazim placerat facer;
          li
            span
            |Eodem modo typi, qui nunc nobis videntur parum futurum;
          li
            span
            |Investigationes demonstraverunt lectores
