.waxom-foot
  .container
    .row.foot__content
      .about__waxoms.col-12.col-m-6.col-l-3
        .waxoms__logo
          i(class="icon-logo")
          .logo__text Waxom
        .waxoms__text Lorem ipsum dolor sit amet consecttur, adipisicing elit. Illum enim velit iusto delectus aspernatur consequatur laborum cupiditate temporibus ducimus ullam! 
        a(class="waxoms__a" href="#") Read More
        i(class="icon-right")        
      .waxoms__posts.col-12.col-m-6.col-l-3
        .posts__head Recent Posts
        .posts__block
          span(class="posts__data") September 08, 2015
          .block__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit
        hr
        .posts__block
          span(class="posts__data") September 08, 2015
          .block__text Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        hr
        .posts__block
          span(class="posts__data") September 08, 2015
          .block__text Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
      .waxoms__witter.col-12.col-m-6.col-l-3
        .witter__head Our Twitter
        .witter__block
          .block__content
            span(class="posts_color") @waxom	
            |Cum soluta nobis eleifend option congue nihil imperdiet doming
            span(class="posts__data") 3 mins ago
        .witter__block
          .block__content 
            |Mirum est 
            span(class="posts_color") #envato 
            |notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
            span(class="posts__data") 5 mins ago
          hr
        .witter__block
          .block__content
            |Soluta nobis option
            span(class="bit") bit.ly/1Hniso7
            span(class="posts__data") 20 mins ago
      .widget__block.col-12.col-m-6.col-l-3
        .block__content Dribbble Widget
        .block__img
          img(src="images/waxom-foot/photo11.png" alt="")
          img(src="images/waxom-foot/photo22.png" alt="")
          img(src="images/waxom-foot/photo333.png" alt="")
          img(src="images/waxom-foot/photo44.png" alt="")