footer.footer
  .container
    .footer__content
      .footer__block
        | Copyright © 2015 
        span(class="waxom-color") Waxom
        | | Privacy Policy
        | | 
        span(class="FAQ-color") FAQ
        | | Support
      .footer__block
        | Designed by
        span(class="waxom-color") ThemeFire
        | | Only on
        span(class="waxom-color") Envato Market









