.working
  .container
    .working__content
      .content__box
        .box__elem
          .elem__img
            i(class="icon-icon3")
          
          .elem__head Web & App Design
          .elem__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
          span(class='line')
        .box__elem
          .elem__img
            i(class="icon-icon")
          .elem__head Development
          .elem__text Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
          span(class='line')
        .box__elem
          .elem__img
            i(class="icon-icon2")
          
          .elem__head Customization
          .elem__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
          span(class='line')

        .box__elem
          .elem__img
            i(class="icon-icon1")
          
          .elem__head Marketing
          .elem__text Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
          span(class='line')