.video
	.container
		.videos
			.videos__img
				img(src='images/video/2-layers.png', alt='1')
			.videos__head Waxom Video Presentation
			.videos__text Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
			.videos__descr 03:26